# Ignore node_modules directory
node_modules/
.parcel-cache

# Ignore built files
dist/
build/
out/

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore log files
*.log
